#content{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.msg {
    min-height: 50px; 
    padding: 8px;
    border:solid black 1px;
    overflow:hidden;
    position: relative;
    margin-bottom: -8px;
    
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.msg {
    background-color: #C8AD66;
    transition: background-color 1s linear;
}

.children { 
    background-color:#E9DAB3;
}

.msg.ancestor {
    background-color:#E9D298;
}

.container {
    margin-top: 0px;
    margin-bottom: 0px;
    transition: margin-top 1s, margin-bottom 1s;
}

.container.visible {
    margin-top: 25px;
    margin-bottom: 25px;    
}

.msg.current {
    background-color: #D8BD76;
}

.index {
	float:right;
}

.author {
	font-weight: bold;
}
